@import "../../Assets/GlobalStyles/style.scss";

.form-group{
    width: 510px;
    height: 89px;
    //padding-left: 4rem;
    //padding-right: 4rem;
}

.form-control{
    background: $ghost;
}

@media only screen and (max-width: 576px){
    .form-group{
        width: 346px;
       height: 89px;
    }
}