@import "../../Assets/GlobalStyles/style.scss";

.card-plan{
    border: solid 2px $guinda;
    .plan{
        font-size: 40px;
        color: $tiro;
        font-weight: bold;
    }
    .price{
        color: $rose;
    }
    .features{
        color: $dark-sky;
    }
    
}

.btn-elegir{
    background-color: $guinda;
    color: $plastik;
    height: 35px;
    width: 30px;
    margin-left: 2rem;
    padding: 0%;
    &:hover{
        background-color: $ghost;
        color: $guinda;
    }
}

#last-icon{
    margin-bottom: 4rem;
}
#elegir{
    margin-top: 2rem;
}
#elegir2{
    margin-top: 2rem;
}
#elegir3{
    margin-top: 1rem;
}

@media only screen and (min-width: 576px){
    #elegir{
        margin-top: 7rem;
    }
    #elegir2{
        margin-top: 4rem;
    }
    #elegir3{
        margin-top: 1rem;
    }
}

@media only screen and (min-width: 768px){
    .plan{
        font-size: 25PX;
    }
    .btn-elegir{
        background-color: $guinda;
        color: $plastik;
        height: 35px;
        width: 50px;
        padding: 0%;
    }
}
@media only screen and (min-width: 1200px){
    .card-plan{
        &.card{
            height: 70vh;
        }
    }
    
    .plan{
        font-size: 40PX;
    }
}