@import "../../Assets/GlobalStyles/style.scss";

.card-plan{
    border: solid 2px $guinda;
   
    .plan{
        font-size: 40px;
        color: $tiro;
        font-weight: bold;
    }
    .price{
        color: $rose;
    }
    .feature-list{
        list-style: none;
        padding-left: 0px;

        .features{
            display: flex;
            padding: .5rem 0px;
            color: $dark-sky;
            &> span{
                margin-right: .5rem;
            }
        }

    }
    .card-body{
        display: flex;
        flex-direction: column;
        .button-link{
            background-color: #860E56;
            color: #FCFDFD;
            height: 38px;
            width: 210px;
            margin-left: auto;
            margin-right: auto;
            padding: .25rem 1rem;
            display: block;
            text-align: center;
            font-weight: 700;
            margin-top: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: .25rem;
        }
    }
    
    
}
.first-card-icon{
    margin-bottom: 7rem;
}
.second-card-icon{
    margin-bottom: 3.5rem;
}

.btn-elegir{
    background-color: $guinda;
    color: $plastik;
    height: 38px;
    width: 205px;
    margin-left: 2.5rem;
    padding: 0%;
    border: solid 2px;
    border-radius: 5px;
    &:hover{
        background-color: $ghost;
        color: $guinda;
    }
}
#last-icon{
    margin-bottom: 4rem;
}
#elegir{
    margin-top: 2rem;
}

/*
@media only screen and (min-width: 576px){
    .btn-elegir{
        margin-left: 2.5rem;
    }
    #elegir2{
        margin-top: 4rem;
    }
    #elegir3{
        margin-top: 1rem;
    }
}
*/


@media only screen and (min-width: 768px){
    .plan{
        font-size: 25PX;
    }
    .btn-elegir{
        background-color: $guinda;
        color: $plastik;
        height: 38px;
        width: 170px;
        margin-left: 0;
        padding: 0%;
    }
}
@media only screen and (min-width: 992px){
    .card-plan{
        &.card{
            height: 70vh;
            height: 100%;
        }
    }
    .plan{
        font-size: 40PX;
    }
    .btn-elegir{
        background-color: $guinda;
        color: $plastik;
        height: 38px;
        width: 210px;
        margin-left: 1.5rem;
        padding: 0%;
    }
}
@media only screen and (min-width: 1200px){
    .btn-elegir{
        margin-left: 2.7rem;
    }
}