@import "../../Assets/GlobalStyles/style.scss";

.navbar-logged{
    background-color: $ghost;
}
.navbar-toggler-icon{
    filter: brightness(0) invert(1)
}
.link-perfil{
    color: $dark-sky;
    &:hover{
        font-weight: bold;
        color: $guinda;
        text-decoration: none;
    }
}
#logo{
    margin-left: none;
}
#perfil{
    margin-right: none;
}
.link-navbar-logged{
    color:$dark-sky;
    &:hover{
        font-weight: bold;
        color: $guinda;
    }
}


@media only screen and (min-width: 576px){
    #logo{
        margin-left: 5rem;
    }#perfil{
        margin-right: 5rem;
    }
}
