main{
    padding: 16px;
}

// Principal
$royal-wine: #4E213C;
$dark-sky: #2A2b2c;
// Complementary grays
$grabo: #3E484C;
$valspar: #ABB6BA;
$smoke: #DDE2E3;
$ghost: #F7F8F8;
$plastik: #FCFDFD;
$riolita: #EAEBEB;
// Complementary blues
$navy: #0A4964;
$capri: #0E6286;
$ceruleo: #129DD9;
$cristal-sea: #26BAF9;
// Complementary roses
$tiro: #640A40;
$guinda: #860E56;
$rose: #D91289;
$patria: #F926A5;
// Alerts
$red:#BF0000;
$carmesi: #F9264D;
// Shadows
$transparent-rose:rgba(253,248,255,100%);
//$dark-blue: #001E2C;
//$dark-wine: #2C001A;


$dark-wine: 0px 4px 4px 0px rgba(44,0,26,.25);
$dark-blue: 0px 4px 4px 0px  rgba(0,30,44,.25)