main{
    padding: 16px;
}
// Principal
$royal-wine: #4E213C;
// Complementary grays
$grabo: #3E484C;
$valspar: #ABB6BA;
$smoke: #DDE2E3;
$ghost: #F7F8F8;
$plastik: #FCFDFD;
$riolita: #EAEBEB;
// Complementary blues
$navy: #0A4964;
$capri: #0E6286;
$ceruleo: #129DD9;
$cristal-sea: #26BAF9;
// Complementary roses
$tiro: #640A40;
$guinda: #860E56;
$rose: #D91289;
$patria: #F926A5;
// Alerts
$carmesi: #F9264D;
// Shadows
$dark-blue: #001E2C;
$dark-wine: #2C001A;
