@import "../../../Assets/GlobalStyles/style.scss";

.landing{
    background-color: $royal-wine;
}.navbar-toggler-icon{
    filter: brightness(0) invert(1)
}
.links-landing{
    color: $plastik !important;
    margin-left: 1rem;
    &:hover{
        text-decoration: underline ;
    }
}
#registro{
    background-color: $carmesi;
    border: none;
    width: 100px;
    height: 30px;
    padding-top: 2px;
    margin-left: 1rem;
    &:hover{    
        color: $plastik;
    }
}
#login-btn{
    width: 100px;
    height: 30px;
    padding: 0%;
    margin-left: 1rem;
}
.image-container{
    background-image: url(../Img/library.png);
    background-size: cover;
    height: 92vh;
    color: $plastik;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-img{
    color: $plastik;
    height: 35px;
    font-size: 35px;
    padding: 0;
    width: 150px;
    font-size: 23px;
    font-weight: bold;
    border-radius: 6px;
    box-shadow: 2px 2px $valspar;
    &:hover{
        color:$carmesi;
        background-color: $ghost;
    }
}
.title{
    font-size: 2rem; 
    margin-top: 7rem;
    text-shadow: $valspar 0.1em 0.1em 0.2em
}
.card-landing{
    border: none;
    color: $dark-sky;
    .color-title{
        font-weight: bold;
        color: $royal-wine;
    }
}
.epic-phrase{
    color: $guinda;
}

#signature{
    background-image: url(../Img/signature.png);
    background-size: cover;
    height: 18rem;
    width: 28rem;
    border: none;
}

.footer-container{
    background-color: $royal-wine;
    padding: 30px;
    color: $plastik;
}.logo{
    width: 300px;
}hr{
    background-color: $plastik;
}.link-footer{
    color: $plastik;
    text-decoration: none;
    &:hover{
        color: $plastik;
        text-decoration: underline;
    }
}

@media only screen and (min-width: 576px){
    .title{
        font-size: 70px;
    }
    #btn-img{
        width: 400px;
        height: 40px;   
        color: $plastik;
    }
}
