@import "../../Assets/GlobalStyles/style.scss";

.principal-container{   
    color: $dark-sky;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: $ghost;
}
.link-footer{
    color: $dark-sky;
    text-decoration: none;
    &:hover{
        color: $carmesi;
        text-decoration: underline;
    }
}
.copyright{
    margin-left: none;
}

@media only screen and (min-width: 576px){
    .link-footer{
        margin-right: 5rem;
    }
    .copyright{
        margin-left: 5rem;
    }
}

