@import "../../Assets/GlobalStyles/style.scss";

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

#login-form{
    width: 652px;
    height: 580px;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 2px 2px lightgray;
}

h4{
    text-align: center;
    color: $royal-wine;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 345px;
    height: 50px;

}
