@import "../../Assets/GlobalStyles/style.scss";
.header{
    color: $plastik;
    background-color: $guinda;
}
table{
    color: $dark-sky;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: $transparent-rose;
}
td{
    color: $dark-sky;
}
.active-notification { 
    color:$red;
}
.material-icons-sharp{
    color: $valspar;
}