@import "../../Assets/GlobalStyles/style.scss";
.tab-header{
    color: $plastik;
    background-color: $guinda;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: $transparent-rose;
}
td{
    color: $dark-sky;
}
.notification-column{
    width: 5px;
}
.active-notification{ 
    color:$red;
}
.unactive-notification{
    color: $valspar;
}